In [1]:
%matplotlib inline

In [2]:
import sqlite3 as sql

In [3]:
conn = sql.connect('movierecommendation.db')
print('data base connected successfully 👍')

data base connected successfully 👍

# INSERT OPERATION ##

# Adding values to the database movie recommendation table column

In [4]:
#Insert into table, followed by the table column names, values keyword to start adding the value
conn.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
              VALUES(1, 'TOLIAT', 'ANIKULAPO', 'DRAMA', 3, '2022-09-02')");
conn.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
              VALUES(2, 'MOYATO', 'Gun girl', 'Thriller', 4, '2021-09-02')");
conn.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
              VALUES(3, 'Oyedola Elijah', 'Thor', 'Action', 4, '2022-06-02')");
conn.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
              VALUES(4, 'Paul Adelola', 'The Lost city', 'Comedy', 5, '2020-08-01')");
conn.commit()
print('values inserted into the movie recommendation table')
#conn.close() #to end sql

values inserted into the movie recommendation table

In [5]:
GETALLVALUES = conn.execute("SELECT ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED FROM MOVIERECOMMENDATION")

In [6]:
GETALLVALUES.fetchall()

[(1, 'TOLIAT', 'ANIKULAPO', 'DRAMA', 3, '2022-09-02'),
 (2, 'MOYATO', 'Gun girl', 'Thriller', 4, '2021-09-02'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '2022-06-02'),
 (4, 'Paul Adelola', 'The Lost city', 'Comedy', 5, '2020-08-01')]

In [7]:
#for val in GETALLVALUES.fetchall():
 #   print(val)

In [8]:
GETRATINGGREATERTHANTHREE = conn.execute("SELECT ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED FROM MOVIERECOMMENDATION WHERE RATING >3")

In [9]:
GETRATINGGREATERTHANTHREE.fetchall()

[(2, 'MOYATO', 'Gun girl', 'Thriller', 4, '2021-09-02'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '2022-06-02'),
 (4, 'Paul Adelola', 'The Lost city', 'Comedy', 5, '2020-08-01')]

In [10]:
GETPAUL = conn.execute("SELECT * FROM MOVIERECOMMENDATION WHERE NAME ='Paul Adelola'")

In [11]:
GETPAUL.fetchall()

[(4, 'Paul Adelola', 'The Lost city', 'Comedy', 5, '2020-08-01')]

# UPDATE OPERATION

In [12]:
UPDATEANIKULAPORATING = conn.execute("UPDATE MOVIERECOMMENDATION SET RATING = 4 WHERE ID =1 ")

In [13]:
UPDATEANIKULAPORATING.fetchall()

[]

In [14]:
GETALLVALUES = conn.execute("SELECT * FROM MOVIERECOMMENDATION")

In [15]:
GETALLVALUES.fetchall()

[(1, 'TOLIAT', 'ANIKULAPO', 'DRAMA', 4, '2022-09-02'),
 (2, 'MOYATO', 'Gun girl', 'Thriller', 4, '2021-09-02'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '2022-06-02'),
 (4, 'Paul Adelola', 'The Lost city', 'Comedy', 5, '2020-08-01')]

# DELETE OPERATION

In [16]:
INSERTANEWROW= conn.execute("SELECT * FROM MOVIERECOMMENDATION")
conn.execute("INSERT INTO MOVIERECOMMENDATION (ID, NAME, MOVIENAME, GENRE, RATING, DATERELEASED) \
VALUES(7, 'Anonymous', 'shaolin soccer','sport',3, '2012-09-02')");

In [17]:
conn.execute("SELECT * FROM MOVIERECOMMENDATION").fetchall()

[(1, 'TOLIAT', 'ANIKULAPO', 'DRAMA', 4, '2022-09-02'),
 (2, 'MOYATO', 'Gun girl', 'Thriller', 4, '2021-09-02'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '2022-06-02'),
 (4, 'Paul Adelola', 'The Lost city', 'Comedy', 5, '2020-08-01'),
 (7, 'Anonymous', 'shaolin soccer', 'sport', 3, '2012-09-02')]

In [18]:
DELETEANONYMOUS = conn.execute("DELETE FROM MOVIERECOMMENDATION WHERE ID=7 ").fetchall()
print("row with id=7 has been deleted")

row with id=7 has been deleted

In [19]:
conn.execute("SELECT * FROM MOVIERECOMMENDATION").fetchall()

[(1, 'TOLIAT', 'ANIKULAPO', 'DRAMA', 4, '2022-09-02'),
 (2, 'MOYATO', 'Gun girl', 'Thriller', 4, '2021-09-02'),
 (3, 'Oyedola Elijah', 'Thor', 'Action', 4, '2022-06-02'),
 (4, 'Paul Adelola', 'The Lost city', 'Comedy', 5, '2020-08-01')]